<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>martinmch.com</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <style type="text/css" media="screen">
        @font-face {
          font-family:"PerfectDOS";
          src: url("{{ "/css/perfectdos-win.ttf" | relURL }}");
        }
    </style>
  </head>
  <body>
      <!-- We conjure the spirits of the computer with our spells -->
    <div id="framebox" style="border-bottom: double; border-width: 5px;">
        <div id="site-title">
            PERSONAL WEBSITE OF MARTIN CHRISTIANSEN
        </div>
